<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block title %}
List all values
{% endblock %}
{% block content %}
        <ul>
            <li type="number" name="arr[0]"></li>
            <li type="number" name="arr[1]"></li>
            <li value="arr[3]"></li>
            <li value="cr"></li>
            <li value="ni"></li>
            <li value="pb"></li>
            <li value="zn"></li>
            <li value="cu"></li>
            <li value="co"></li>
        </ul>
{% endblock %}
</body>
</html>